body {
  margin: 0;
  font-family: Calibre, SF Mono, SF Mono, monospace, sans-serif;
  color: #81a7bd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
